body {
    padding: 40px;
    background: #111;
}

.ao-loader-container {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
}

.ao-loader-bounce {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    animation-name: ao-loader-bounce-animation;
    transform-origin: center center;
}

.ao-loader-bounce .logo {
    display: block;
    margin: auto;
}

@keyframes ao-loader-bounce-animation {
    0%, 20%, 53%, 80%, 90% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}