.ao-loader {

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-family: oz, Arial, Helvetica, sans-serif;
    }

    &-inner-container {
        display: table;
        width: 100%;
        height: 100%;
    }

    &-inner {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    &-orbit {
        display: none;
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        height: 90px;
        width: 90px;
        margin: -62px 0 0 -53px;
        color: #8ecf27;
        border: 8px solid transparent;
        border-top: 8px solid rgba(127, 186, 35, 0.8);
        border-radius: 100%;
        animation: ao-loader-orbit-animation 1.2s infinite linear;
    }

    &-bounce {
        position: relative;
        z-index: 2;
        display: block;
        margin: auto;
        transform: translate3d(0, 0, 0);
        transform-origin: bottom center;

        animation-duration: 1.2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: ao-loader-bounce-animation;

        &-logo {
            display: block;
            margin: auto;
        }
    }

    &-shadow {
        position: relative;
        z-index: 1;
        top: -3px;
        width: 33px;
        height: 6px;
        margin: auto;
        border-radius: 50%;
        //box-shadow: inset 11px 30px 11px 11px rgba(0, 0, 0, 0.075);
        background: radial-gradient(ellipse at 50% 48%, rgba(00, 00, 00, 0.2), rgba(97, 97, 97, 0.0) 100%);

        animation-duration: 1.2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: ao-loader-shadow-animation;
    }

    &-progress {
        color: inherit;
        font-weight: 600;
        font-size: 1em;
    }
}

@keyframes ao-loader-orbit-animation {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}

@keyframes ao-loader-bounce-animation {
    0%, 20%, 53%, 80%, 90% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0) scale(1);
    }

    40%, 43% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0) scale(0.9, 1);
    }

    53%, 55% {
        transform: scale(1, 0.85);
    }

    70% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -13px, 0) scale(1);
    }

    90% {
        transform: translate3d(0, -4px, 0) scale(1);
    }
}

@keyframes ao-loader-shadow-animation {
    0%, 20%, 53%, 80%, 90% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 1;
        transform: scale(1);
    }

    40%, 43% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        opacity: 0.5;
        transform: scale(0.5);
    }

    70% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        opacity: 0.7;
        transform: scale(0.7);
    }

    90% {
        opacity: 0.9;
        transform: scale(0.9);
    }
}